Beginning WF/Chapter10/BookLookup/Service References/ServiceReference1/BookInventory2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1047/BookInventory2.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookInventory" />
  <xs:element name="LookupBook2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LookupBook2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BookInventory" minOccurs="0" name="Result" nillable="true" type="q1:ArrayOfBookInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>