Beginning WF/Appendix/RequestWeb/App_WebReferences/ServiceReference1/RequestMethods1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserTasks" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserTasks" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfQueueDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueDetail" nillable="true" type="tns:QueueDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueDetail" nillable="true" type="tns:ArrayOfQueueDetail" />
  <xs:complexType name="QueueDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oldest" type="xs:dateTime" />
      <xs:element minOccurs="0" name="QC" type="xs:boolean" />
      <xs:element minOccurs="0" name="QueueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubQueueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueDetail" nillable="true" type="tns:QueueDetail" />
</xs:schema>